apiVersion: v1
kind: Service
metadata:
  name: dot-app-service #The name of the Kubernetes Service to be created in the Kubernetes cluster
spec:
  selector:
    app: dot-app-service
  type: LoadBalancer #Type of the Kubernetes Service
  ports:
  - protocol: TCP
    port: 3000 #Service port
    targetPort: 8080 #The port for the application container
